[user]
	name = Christian Long
	email = chlong2@cisco.com
[gitreview]
	username = christianmlong
[push]
	default = matching
[core]
	editor = vim
[alias]
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	st = status
	co = checkout
	ci = commit
	wiff = diff --color-words

# Reference for git up alias
# http://stackoverflow.com/questions/15316601/in-what-cases-could-git-pull-be-harmful
	up = "!git remote update -p; git merge --ff-only @{u}"

	ap = add --patch
	ff = merge --ff-only
[diff]
	tool = vimdiff2
[merge]
	tool = vimdiff2
