[user]
	name = Christian Long
	email = chlong2@cisco.com
[gitreview]
	username = christianmlong
[push]
	default = matching
[core]
	editor = vim
	excludesfile = /Users/chlong2/.gitignore_global
[alias]
        lol = log --graph --decorate --pretty=oneline --abbrev-commit        
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all 
	st = status
	co = checkout
	ci = commit
    d = diff
    dt = difftool
    ds = diff --staged
    lsp = log --stat -p

# Reference
# http://stackoverflow.com/questions/15316601/in-what-cases-could-git-pull-be-harmful
	up = "!git remote update -p; git merge --ff-only @{u}"

	ap = add --patch
	ff = merge --ff-only
[rerere]
	enabled = true
	autoupdate = true
[pull]
	ff = only
[hub]
	host = tip-github-1.cisco.com

[diff]
    #tool = bc3
    tool = p4merge
    #tool = meld
[merge]
    #tool = bc3
    tool = p4merge
    #tool = meld
[difftool]
    prompt = false
[mergetool]
    prompt = false
[difftool "p4merge"]
	path = /Applications/p4merge.app/Contents/Resources/launchp4merge
[mergetool "p4merge"]
	path = /Applications/p4merge.app/Contents/Resources/launchp4merge
[difftool "bc3"]
    trustExitCode = true
[mergetool "bc3"]
    trustExitCode = true
