bumpversion
pdbpp
pip
pylint<2.0
pytest
setuptools
wheel

#cookiecutter
#coverage
#coveralls
#flake8
#hypothesis
#ipdb
#ipython
#jupyter
#qgrid
#tox
attrs
fabric
pandas
pandas-profiling
when-changed
yapf
requests
requests[security]
