attrs
bumpversion
fabric
pandas
pandas-profiling
pdbpp
pip
pylint
pylint-django
pytest
pytest-django
requests
requests[security]
setuptools
wheel
when-changed
yapf

#cookiecutter
#coverage
#coveralls
#flake8
#hypothesis
#ipdb
#ipython
#jupyter
#qgrid
#tox
