attrs
bumpversion
fabric
jupyter
pandas-profiling
pdbpp
pip
pylint
pylint-django
pytest
qgrid
setuptools
wheel
when-changed
yapf

#cookiecutter
#coverage
#coveralls
#flake8
#hypothesis
#ipdb
#ipython
#pytest-django
#requests[security]
#tox
