[user]
	name = Christian Long
#	email = christianzlong2@gmail.com
	email = chlong2@cisco.com
[gitreview]
	username = christianmlong
[push]
	default = matching
[core]
	editor = vim
[alias]
        lol = log --graph --decorate --pretty=oneline --abbrev-commit        
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all 
	st = status
	co = checkout
	ci = commit
	wiff = diff --color-words
	up = "!git remote update -p; git merge --ff-only @{u}"
	ap = add --patch
	ff = merge --ff-only
[diff]
	tool = vimdiff2
[merge]
	tool = vimdiff2
[rerere]
	enabled = true
	autoupdate = true
[pull]
	ff = only
#[hub]
#	host = tip-github-1.cisco.com
